*{
    box-sizing: border-box;
}
.map{
    height: 100vh;
    width: 100vw;

}
body{
    margin: 0;
    padding:  0;
}
.grid-container{
    display: grid;
    grid-template-columns: 10vw 20vh;
    grid-template-rows: 100vh;

}
.sidebar{
    margin-left: 1px;
}
/*
.grid-container{
    display: grid;
    grid-template-columns:  20vw 80vw;
    grid-template-rows: 100vh;
}
.sidebar{
    margin-left: 15px;
}
*/
